<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ACC - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
                <div class="sidebar-brand-text mx-2">Automatic Crop Caretaker</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <!-- Nav Item - Utilities Collapse Menu -->
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->

            <!-- Nav Item - Pages Collapse Menu -->
            <!-- Heading -->
            <div class="sidebar-heading">
                Modes
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/manual">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Manual</span></a>
            </li>

            <hr class="sidebar-divider">

            <!-- Nav Item - Charts -->
            <div class="sidebar-heading">
                Statistics
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/charts">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/tables">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-info" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="usernamespan">
                                    <%= firstname %>
                                        <%= lastname %>
                                </span>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                            <i class="fas fa-sync-alt fa-sm text-white-50"></i>
                            Update Statistics
                        </a>
                    </div>

                    <!-- Content Row -->
                    <div class="row" id="contentContainer"></div>
                    <!-- <div class="card shadow mb-4">
                        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                            role="button" aria-expanded="true" aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-info" id="divrecommended">The recommended crop is #
                            </h6>
                        </a>
                        <div class="collapse show" id="collapseCardExample">
                            <div class="card-body">
                                This is a prediction based on the amount of N, P, K in the soil along with humidity,
                                rainfall, temperature and the soil's pH level.
                            </div>
                        </div>
                    </div> -->

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-xl-6 col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <a href="#collapseCard1" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCard1">
                                    <h6 class="m-0 font-weight-bold text-info" id="divrecommended">Fertilizer
                                        recommendation</h6>
                                </a>
                                <div class="collapse show" id="collapseCard1">
                                    <div class="card-body">
                                        <form id="cropForm">
                                            <div class="form-group">
                                                <label for="cropInput"
                                                    style="font-weight: bold; color: #333;">Crop</label>
                                                <select class="form-control" id="cropInput" required>
                                                    <option value="" disabled selected>Select Crop</option>
                                                    <option value="Maize">Maize</option>
                                                    <option value="Sugarcane">Sugarcane</option>
                                                    <option value="Cotton">Cotton</option>
                                                    <option value="Tobacco">Tobacco</option>
                                                    <option value="Paddy">Paddy</option>
                                                    <option value="Barley">Barley</option>
                                                    <option value="Wheat">Wheat</option>
                                                    <option value="Millets">Millets</option>
                                                    <option value="Oilseeds">Oilseeds</option>
                                                    <option value="Pulses">Pulses</option>
                                                    <option value="Groundnuts">Groundnuts</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="soilInput"
                                                    style="font-weight: bold; color: #333;">Soil</label>
                                                <select class="form-control" id="soilInput" required>
                                                    <option value="" disabled selected>Select Soil Type</option>
                                                    <option value="Sandy">Sandy</option>
                                                    <option value="Loamy">Loamy</option>
                                                    <option value="Black">Black</option>
                                                    <option value="Red">Red</option>
                                                    <option value="Clayey">Clayey</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </form>
                                        <div class="card-body" style="margin-bottom: 20px;">
                                            <h4 id="divfertilizer" style="display: none;"></h4>
                                            <p class="mb-0"><small>Disclaimer: The following model predictions and
                                                    recommendations are provided for informational purposes only and
                                                    should not be taken as absolute or definitive advice. Consulting
                                                    with local agricultural experts, conducting thorough research, and
                                                    considering your specific circumstances before making any decisions
                                                    related to crop selection or fertilizer usage is strongly
                                                    recommended. </small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <a href="#collapseCard2" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCard2">
                                    <h6 class="m-0 font-weight-bold text-info" id="divrecommended">N,P,K proportion in
                                        soil</h6>
                                </a>
                                <div class="collapse show" id="collapseCard2">
                                    <div class="card-body">
                                        <div class="chart-pie pt-4 pb-2">
                                            <canvas id="NPKpiechart"></canvas>
                                            <p id="noDataMessage" class="text-center" style="display: none;">No N, P, K
                                                data available.</p>
                                        </div>
                                        <div class="mt-4 text-center small">
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-info"></i> N
                                            </span>
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-success"></i> P
                                            </span>
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-info"></i> K
                                            </span>
                                        </div>
                                        <div class="card-body" style="margin-bottom: 5px; text-align: center;">
                                            Updated constantly. N(Nitrogen), K(Potassium), P(Phosphorus).
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-info">Approach to automatic agriculture</h6>
                                </div>
                                <div class="card-body"
                                    style="background-color: #f8f8f8; border-radius: 25px; margin-bottom: 20px; animation: slideUp 1s ease;">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                                            style="width: 23rem; box-shadow: 0px 3px 5px rgba(0,0,0,0.2); animation: fadeIn 1s ease;"
                                            src="https://th.bing.com/th/id/OIP.PbMTRMj9x-Vvwl5vzmUXCgHaE8?pid=ImgDet&rs=1"
                                            alt="Smart Farming Image 1">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                                            style="width: 23rem; box-shadow: 0px 3px 5px rgba(0,0,0,0.2); animation: fadeIn 1s ease 0.2s;"
                                            src="https://th.bing.com/th/id/R.27444c865fcc73301ae3854515bcf9c4?rik=m4mwyNQ9LKs4rA&pid=ImgRaw&r=0"
                                            alt="Smart Farming Image 2">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                                            style="width: 23rem; box-shadow: 0px 3px 5px rgba(0,0,0,0.2); animation: fadeIn 1s ease 0.4s;"
                                            src="https://th.bing.com/th/id/OIP.KnG_EXzhNs6cu7GaRpSy7AHaE8?pid=ImgDet&rs=1"
                                            alt="Smart Farming Image 3">
                                    </div>
                                    <p
                                        style="font-family: 'Arial', sans-serif; font-size: 18px; line-height: 1.6; animation: fadeIn 1s ease 0.6s;">
                                        Automatic agriculture, also known as smart farming, utilizes advanced
                                        technologies like IoT and data analytics to optimize crop production and
                                        resource management. Through real-time monitoring of environmental factors and
                                        data-driven insights, farmers can make informed decisions about irrigation,
                                        fertilization, and pest control. This approach maximizes efficiency, minimizes
                                        resource wastage, and contributes to sustainable and high-yield agricultural
                                        practices.
                                    </p>
                                    <a href="#"
                                        style="font-family: 'Arial', sans-serif; font-size: 16px; color: #007bff; animation: fadeIn 1s ease 0.8s;">Learn
                                        more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; HNM Website 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-info" id="logoutBtn">Logout</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <!-- <script src="js/demo/chart-area-demo.js"></script> -->
    <!-- <script src="js/demo/chart-pie-demo.js"> -->
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module">
        axios.defaults.withCredentials = true;
        document.getElementById('logoutBtn').addEventListener('click', handleLogout);
        function handleLogout() {
            axios.post('/api/logout')
                .then(() => {window.location.href = '/';})
                .catch((error) => {console.error('Logout failed:', error);});
        }
        function createVariableDiv(variableName, dataValue, iconClass1,iconClass2, unit) {
            const divContainer = document.createElement('div');
            divContainer.classList.add('col-xl-3', 'col-md-6', 'mb-4');
            const cardDiv = document.createElement('div');
            cardDiv.classList.add('card', 'border-left-success', 'shadow', 'h-100', 'py-2');
            const cardBodyDiv = document.createElement('div');
            cardBodyDiv.classList.add('card-body');
            const rowDiv = document.createElement('div');
            rowDiv.classList.add('row', 'no-gutters', 'align-items-center');
            const leftColDiv = document.createElement('div');
            leftColDiv.classList.add('col', 'mr-2');
            const variableLabelDiv = document.createElement('div');
            variableLabelDiv.classList.add('text-xs', 'font-weight-bold', 'text-success', 'text-uppercase', 'mb-1');
            variableLabelDiv.textContent = variableName;
            const dataValueDiv = document.createElement('div');
            dataValueDiv.classList.add('h5', 'mb-0', 'font-weight-bold', 'text-gray-800');
            dataValueDiv.textContent = dataValue + ' ' + unit;
            const rightColDiv = document.createElement('div');
            rightColDiv.classList.add('col-auto');
            const iconElement = document.createElement('i');
            iconElement.classList.add(iconClass1, iconClass2);
            leftColDiv.appendChild(variableLabelDiv);
            leftColDiv.appendChild(dataValueDiv);
            rightColDiv.appendChild(iconElement);
            rowDiv.appendChild(leftColDiv);
            rowDiv.appendChild(rightColDiv);
            cardBodyDiv.appendChild(rowDiv);
            cardDiv.appendChild(cardBodyDiv);
            divContainer.appendChild(cardDiv);
            return divContainer;
        }

        function fetchData(){
            axios.get('/api/getDashboardData')
            .then((response)=>{
                console.log(response);
                const contentContainer = document.getElementById('contentContainer');
                while (contentContainer.firstChild) {contentContainer.removeChild(contentContainer.firstChild);}
                response = response.data;
                // if (response.latestNitrogen && response.latestPhosphorus && response.latestPotassium) {
                    const moistureDiv = createVariableDiv('Soil moisture', response.latestHumsoil, 'fas', 'fa-tint', '%');
                    const nitrogenDiv = createVariableDiv('Nitrogen', response.latestNitrogen, 'fas', 'fa-seedling', 'mg/kg');
                    const kaliDiv = createVariableDiv('Potassium', response.latestPotassium, 'fas', 'fa-leaf', 'mg/kg');
                    const phosphorusDiv = createVariableDiv('Phosphorus', response.latestPhosphorus, 'fas', 'fa-flask', 'mg/kg');
                    const temperatureDiv = createVariableDiv('Temperature', response.latestTempsoil, 'fas', 'fa-thermometer', '°C');
                    const pHsoilDiv = createVariableDiv('pH Soil', response.latestpHsoil, 'fas', 'fa-flask', 'pH');
                    const ECdiv = createVariableDiv('EC', response.latestEC, 'fas', 'fa-bolt', 'EC');
                    const rainfallDiv = createVariableDiv('Rainfall', response.rainfall, 'fas', 'fa-cloud-rain', 'mm');
                    const humidityAirDiv = createVariableDiv('Air Humidity', response.latestHumidity, 'fas', 'fa-tint', '%');
                    const dustDensityDiv = createVariableDiv('Dust Density', response.latestDustDensity, 'fas', 'fa-smog', 'mm');
                    const ppmDiv = createVariableDiv('Corrected PPM', response.latestCorrected_PPM, 'fas', 'fa-eye-dropper', 'PPM');
                    const airTempDiv = createVariableDiv('Air Temperature', response.latestTemperature, 'fas', 'fa-thermometer', '°C');
                    const heatIndexDiv = createVariableDiv('Heat Index', response.latestHeatIndex, 'fas', 'fa-thermometer-half', '°C');
                    const waterPhDiv = createVariableDiv('Water pH', response.latestPH, 'fas', 'fa-tint', 'pH');
                    const tdsDiv = createVariableDiv('TDS', response.latestTDS, 'fas', 'fa-hand-holding-water', 'TDS');
                    const luxDiv = createVariableDiv('Light Lux', response.latestLux, 'fas', 'fa-sun', 'Lux');
                    document.getElementById('contentContainer').appendChild(moistureDiv);
                    document.getElementById('contentContainer').appendChild(nitrogenDiv);
                    document.getElementById('contentContainer').appendChild(kaliDiv);
                    document.getElementById('contentContainer').appendChild(phosphorusDiv);
                    document.getElementById('contentContainer').appendChild(temperatureDiv);
                    document.getElementById('contentContainer').appendChild(pHsoilDiv);
                    document.getElementById('contentContainer').appendChild(ECdiv);
                    document.getElementById('contentContainer').appendChild(rainfallDiv);
                    document.getElementById('contentContainer').appendChild(humidityAirDiv);
                    document.getElementById('contentContainer').appendChild(dustDensityDiv);
                    document.getElementById('contentContainer').appendChild(ppmDiv);
                    document.getElementById('contentContainer').appendChild(airTempDiv);
                    document.getElementById('contentContainer').appendChild(heatIndexDiv);
                    document.getElementById('contentContainer').appendChild(waterPhDiv);
                    document.getElementById('contentContainer').appendChild(tdsDiv);
                    document.getElementById('contentContainer').appendChild(luxDiv);
                    //N,P,K pie chart 
                    const canvas = document.getElementById('NPKpiechart');
                    const noDataMessage = document.getElementById('noDataMessage');
                    if (response.latestNitrogen && response.latestPhosphorus && response.latestPotassium) {
                        // Thêm giá trị mới vào mảng dữ liệu của biểu đồ
                        chartDataPie = [response.latestNitrogen, response.latestPhosphorus, response.latestPotassium]
                        // Vẽ biểu đồ với dữ liệu mới nhất
                        if (myChartPie) {
                            myChartPie.destroy();
                        }

                        myChartPie = new Chart('NPKpiechart', {
                            type: 'doughnut',
                            data: {
                                labels: ["N", "P", "K"],
                                datasets: [{
                                    label: 'My Data',
                                    data: chartDataPie,
                                    backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
                                    hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                                    hoverBorderColor: "rgba(234, 236, 244, 1)",
                                }],},options: {
                                animation: {duration: 0 },
                                maintainAspectRatio: false,
                                tooltips: {
                                    backgroundColor: "rgb(255,255,255)",
                                    bodyFontColor: "#858796",
                                    borderColor: '#dddfeb',
                                    borderWidth: 1,
                                    xPadding: 15,
                                    yPadding: 15,
                                    displayColors: false,
                                    caretPadding: 10,
                                },
                                legend: {display: false},
                                cutoutPercentage: 80,},});
                    } else {
                        noDataMessage.style.display = 'block';
                        canvas.style.display = 'none';
                    };
                // } else {
                //     // Display "Connecting to server" message
                //     const connectingMessageContainer = document.createElement('div');
                //     connectingMessageContainer.style.display = 'flex';
                //     connectingMessageContainer.style.flexDirection = 'column';
                //     connectingMessageContainer.style.alignItems = 'center';
                //     connectingMessageContainer.style.justifyContent = 'center';
                //     connectingMessageContainer.style.height = '100%';
                //     const connectingMessage = document.createElement('div');
                //     connectingMessage.textContent = 'Connecting to server...';
                //     connectingMessage.style.fontSize = '24px';
                //     connectingMessage.style.color = '#FF5733'; 
                //     connectingMessageContainer.appendChild(connectingMessage);
                //     contentContainer.appendChild(connectingMessageContainer);
                // }
            })
            .catch((error)=>{console.error(error);})
        }
        fetchData();
        setInterval(fetchData, 7000);
        


        document.getElementById('cropForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const cropInput = document.getElementById('cropInput');
            const selectedCrop = cropInput.value;
            const soilInput = document.getElementById('soilInput');
            const selectedSoil = soilInput.value;
            let fertilizer;
            axios.post('/api/getPredictionData', { soiltype: selectedSoil, croptype: selectedCrop})
                .then((response) => {
                    fertilizer = response.data;
                    const recommendation = `Based on your inputs and analysis, for crop type "<strong>${selectedCrop}</strong>" and soil type "<strong>${selectedSoil}</strong>", we recommend using "<strong>${fertilizer}</strong>" fertilizer.`;
                    const recommendationElement = document.getElementById('divfertilizer');
                    recommendationElement.innerHTML = recommendation;
                    recommendationElement.style.display = 'block';
                })
                .catch((err) => { console.err(err) });
        });
    </script>
</body>

</html>