<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ACC - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .status-forward {
            background-color: green;
        }

        .status-backward {
            background-color: red;
        }

        .status-stopped {
            background-color: gray;
        }

        /* You can add more status styles if needed */
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
                <div class="sidebar-brand-text mx-2">Automatic Crop Caretaker</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <!-- Nav Item - Utilities Collapse Menu -->
            <!-- Divider -->


            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Modes
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/manual">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Manual</span></a>
            </li>

            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Statistics
            </div>

            <!-- Nav Item - Pages Collapse Menu -->

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/charts">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/tables">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Sidebar Message -->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-info" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="usernamespan">
                                    <%= firstname %>
                                        <%= lastname %>
                                </span>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->


                <div class="container mt-5">

                    <h1 class="mb-4">Device Control</h1>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body shadow">
                                    <h2 class="mb-3">Drive Base Control</h2>
                                    <p class="mt-3">Left Motor Status: <span id="leftMotorStatus"
                                            class="badge badge-secondary">Stopped</span> Right Motor Status: <span
                                            id="rightMotorStatus" class="badge badge-secondary">Stopped</span></p>

                                    <div class="d-flex mb-3">
                                        <button id="forwardButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-right"></i>
                                            Forward</button>
                                        <button id="backwardButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-left"></i> Backward</button>
                                        <button id="stopButton" class="btn btn-danger"><i class="fas fa-stop"></i>
                                            Stop</button>
                                    </div>


                                    <div class="d-flex mb-3">
                                        <button id="leftMotorForwardButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-right"></i> Left Forward</button>
                                        <button id="leftMotorBackwardButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-left"></i> Left Backward</button>
                                        <button id="leftMotorStopButton" class="btn btn-danger"><i
                                                class="fas fa-stop"></i> Left Stop</button>
                                    </div>

                                    <div class="d-flex mb-3">
                                        <button id="rightMotorForwardButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-right"></i> Right Forward</button>
                                        <button id="rightMotorBackwardButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-left"></i> Right Backward</button>
                                        <button id="rightMotorStopButton" class="btn btn-danger"><i
                                                class="fas fa-stop"></i>
                                            Right Stop</button>
                                    </div>
                                    <hr>
                                    <h2 class="mb-3">Cylinder Control</h2>
                                    <p class="mt-3">Cylinder Status: <span id="cylinderStatus"
                                            class="badge badge-secondary">Stopped</span> </p>

                                    <div class="d-flex mb-3">
                                        <button id="cylinderUpButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-up"></i> Up</button>
                                        <button id="cylinderDownButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-down"></i> Down</button>
                                        <button id="cylinderStopButton" class="btn btn-danger"><i
                                                class="fas fa-stop"></i>
                                            Stop</button>
                                    </div>
                                    <hr>
                                    <h2 class="mb-3">Soil Analysis</h2>
                                    <p class="mt-3">Soil Reading Status: <span id="readSoilStatus"
                                            class="badge badge-secondary">Stopped</span></p>
                                    <div class="d-flex mb-3">
                                        <button id="readSoilButton" class="btn btn-warning mr-2">
                                            <i class="fas fa-seedling"></i> Start Reading
                                        </button>
                                        <button id="stopReadingButton" class="btn btn-danger">
                                            <i class="fas fa-stop"></i> Stop Reading
                                        </button>
                                    </div>
                                    <div class="d-flex mb-3">
                                        <button id="useCylinderToReadSoilButton" class="btn btn-warning">
                                            <i class="fas fa-cogs"></i> Use Cylinder to Read Soil
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body shadow">
                                    <h2 class="mb-3">Servos Control</h2>
                                    <p class="mt-3">Left Servo Status: <span id="leftServoStatus"
                                            class="badge badge-secondary">Down</span> Right Servo Status: <span
                                            id="rightServoStatus" class="badge badge-secondary">Down</span></p>

                                    <div class="d-flex mb-3">
                                        <button id="bothServosUpButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-up"></i> Both Up</button>
                                        <button id="bothServosDownButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-down"></i> Both Down</button>
                                    </div>

                                    <div class="d-flex mb-3">
                                        <button id="leftServoUpButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-up"></i> Left Up</button>
                                        <button id="leftServoDownButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-down"></i> Left Down</button>
                                    </div>

                                    <div class="d-flex mb-3">
                                        <button id="rightServoUpButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-up"></i> Right Up</button>
                                        <button id="rightServoDownButton" class="btn btn-primary mr-2"><i
                                                class="fas fa-arrow-down"></i> Right Down</button>
                                    </div>
                                    <hr>
                                    <h2 class="mb-3">LED Control</h2>
                                    <p class="mt-3">LED1 Status: <span id="LED1Status"
                                            class="badge badge-secondary">OFF</span> LED2 Status: <span id="LED2Status"
                                            class="badge badge-secondary">OFF</span></p>
                                    <div class="d-flex mb-3">
                                        <button id="turnOnLED1Button" class="btn btn-success mr-2"><i
                                                class="fas fa-power-off"></i> Turn On LED1</button>
                                        <button id="turnOffLED1Button" class="btn btn-danger"><i
                                                class="fas fa-power-off"></i>
                                            Turn Off LED1</button>
                                    </div>
                                    <div class="d-flex mb-3">
                                        <button id="turnOnLED2Button" class="btn btn-success mr-2"><i
                                                class="fas fa-power-off"></i> Turn On LED2</button>
                                        <button id="turnOffLED2Button" class="btn btn-danger"><i
                                                class="fas fa-power-off"></i>
                                            Turn Off LED2</button>
                                    </div>
                                    <hr>
                                    <h2 class="mb-3">Pump Control</h2>
                                    <p class="mt-3">Pump Status: <span id="pumpStatus"
                                            class="badge badge-secondary">OFF</span></p>
                                    <div class="d-flex mb-3">
                                        <button id="togglePumpButton" class="btn btn-info mr-2"><i
                                                class="fas fa-tint"></i>
                                            Toggle Pump</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; HNM Website 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            const LED1Status = document.getElementById('LED1Status');
            const LED2Status = document.getElementById('LED2Status');
            const togglePumpButton = document.getElementById('togglePumpButton');
            const pumpStatus = document.getElementById('pumpStatus');
            let pumpOn = false;
            const forwardButton = document.getElementById('forwardButton');
            const backwardButton = document.getElementById('backwardButton');
            const stopButton = document.getElementById('stopButton');
            const leftMotorStatus = document.getElementById('leftMotorStatus');
            const rightMotorStatus = document.getElementById('rightMotorStatus');
            const leftServoStatus = document.getElementById('leftServoStatus');
            const rightServoStatus = document.getElementById('rightServoStatus');
            const readSoilStatus = document.getElementById('readSoilStatus');
            let motorState = 'Stopped';
            const cylinderUpButton = document.getElementById('cylinderUpButton');
            const cylinderDownButton = document.getElementById('cylinderDownButton');
            const cylinderStopButton = document.getElementById('cylinderStopButton');
            const cylinderStatus = document.getElementById('cylinderStatus');
            let cylinderExtended = false;
            let readSoilState = false;

            // const socket = new WebSocket("ws://localhost:4000/ws");
            const socket = new WebSocket("ws://automaticcropcaretaker.com/ws");

            socket.addEventListener("open", () => {
                console.log("WebSocket connection opened");
                const data = {
                    type: "connection",
                    data: "website/manual",
                };
                socket.send(JSON.stringify(data));
            });

            socket.addEventListener("message", (event) => {
                console.log("Message received from server:", event.data);
            });

            togglePumpButton.addEventListener('click', () => {
                if (pumpOn) {
                    // Turn off the pump
                    turnOffPump();
                } else {
                    // Turn on the pump
                    turnOnPump();
                }

                // Toggle the pump status
                pumpOn = !pumpOn;
                pumpStatus.innerHTML = pumpOn ? 'ON' : 'OFF';
            });
            forwardButton.addEventListener('click', () => {
                // Drive base forward
                driveForward();
                // Update motor status
                leftMotorStatus.textContent = 'Forward';
                rightMotorStatus.textContent = 'Forward';
                // motorState = 'Running Forward';
                updateStatusColor(leftMotorStatus, 'Forward');
                updateStatusColor(rightMotorStatus, 'Forward');
            });
            backwardButton.addEventListener('click', () => {
                // Drive base backward
                driveBackward();
                // Update motor status
                leftMotorStatus.textContent = 'Backward';
                rightMotorStatus.textContent = 'Backward';
                updateStatusColor(leftMotorStatus, 'Backward');
                updateStatusColor(rightMotorStatus, 'Backward');
                // motorState = 'Running Backward';
            });
            stopButton.addEventListener('click', () => {
                // Stop the drive base
                stopDrive();
                // Update motor status
                leftMotorStatus.textContent = 'Stopped';
                rightMotorStatus.textContent = 'Stopped';
                updateStatusColor(leftMotorStatus, 'Stopped');
                updateStatusColor(rightMotorStatus, 'Stopped');
                motorState = 'Stopped';
            });

            // cylinderUpButton.addEventListener('click', () => {
            //     if (cylinderExtended) {
            //         // Retract the cylinder
            //         retractCylinder();
            //     } else {
            //         // Extend the cylinder and wait for 20 seconds
            //         extendCylinder();
            //         setTimeout(() => {
            //             // After 20 seconds, retract the cylinder
            //             retractCylinder();
            //             cylinderStatus.textContent = 'Retracted';
            //             cylinderExtended = false;
            //         }, 20000); // 20 seconds in milliseconds
            //     }

            //     // Toggle the cylinder status
            //     cylinderExtended = !cylinderExtended;
            //     cylinderStatus.textContent = cylinderExtended ? 'Extended' : 'Retracted';
            // });

            cylinderUpButton.addEventListener('click', () => {
                // Drive base forward
                retractCylinder();
                // Update motor status
                cylinderStatus.textContent = 'Retracting';
                updateStatusColor(cylinderStatus, 'Retracting');
            });

            cylinderDownButton.addEventListener('click', () => {
                // Drive base forward
                extendCylinder();
                // Update motor status
                cylinderStatus.textContent = 'Extending';
                updateStatusColor(cylinderStatus, 'Extending');
            });

            cylinderStopButton.addEventListener('click', () => {
                // Drive base forward
                stopCylinder();
                // Update motor status
                cylinderStatus.textContent = 'Stopped';
                updateStatusColor(cylinderStatus, 'Stopped');
            });

            //both_servos func
            function bothServosUp() {
                const data = {
                    type: "control/both_servos",
                    direction: 1,
                };
                socket.send(JSON.stringify(data));
                leftServoStatus.textContent = 'Up';
                rightServoStatus.textContent = 'Up';
                updateStatusColor(leftServoStatus, 'Up');
                updateStatusColor(rightServoStatus, 'Up');
            }

            function bothServosDown() {
                const data = {
                    type: "control/both_servos",
                    direction: 0,
                };
                socket.send(JSON.stringify(data));
                leftServoStatus.textContent = 'Down';
                rightServoStatus.textContent = 'Down';
                updateStatusColor(leftServoStatus, 'Stopped');
                updateStatusColor(rightServoStatus, 'Stopped');
            }

            //left_servo func
            function leftServoUp() {
                const data = {
                    type: "control/left_servo",
                    direction: 1,
                };
                socket.send(JSON.stringify(data));
                leftServoStatus.textContent = 'Up';
                updateStatusColor(leftServoStatus, 'Up');

            }

            function leftServoDown() {
                const data = {
                    type: "control/left_servo",
                    direction: 0,
                };
                socket.send(JSON.stringify(data));
                leftServoStatus.textContent = 'Down';
                updateStatusColor(leftServoStatus, 'Stopped');

            }

            //right_servo func
            function rightServoUp() {
                const data = {
                    type: "control/right_servo",
                    direction: 1,
                };
                socket.send(JSON.stringify(data));
                rightServoStatus.textContent = 'Up';
                updateStatusColor(rightServoStatus, 'Up');

            }

            function rightServoDown() {
                const data = {
                    type: "control/right_servo",
                    direction: 0,
                };
                socket.send(JSON.stringify(data));
                rightServoStatus.textContent = 'Down';
                updateStatusColor(rightServoStatus, 'Stopped');

            }

            //cylinder func
            function extendCylinder() {
                const data = {
                    type: "control/cylinder",
                    direction: 1,
                };
                socket.send(JSON.stringify(data));
                console.log('Cylinder is Extended');
            }

            function retractCylinder() {
                const data = {
                    type: "control/cylinder",
                    direction: -1,
                };
                socket.send(JSON.stringify(data));
                console.log('Cylinder is Retracted');
            }

            function stopCylinder() {
                const data = {
                    type: "control/cylinder",
                    direction: 0,
                };
                socket.send(JSON.stringify(data));
                console.log('Cylinder is Stopped');
            }

            //both_motors func
            function driveForward() {
                const data = {
                    type: "control/both_motors",
                    direction: 1,
                    speed1: 26,
                    speed2: 20,
                };
                socket.send(JSON.stringify(data));
                console.log('Drive base is moving forward');
            }

            function driveBackward() {
                const data = {
                    type: "control/both_motors",
                    direction: -1,
                    speed1: 26,
                    speed2: 20,
                };
                socket.send(JSON.stringify(data));
                console.log('Drive base is moving backward');
            }

            function stopDrive() {
                const data = {
                    type: "control/both_motors",
                    direction: 0,
                    speed1: 0,
                    speed2: 0,
                };
                socket.send(JSON.stringify(data));
                console.log('Drive base is stopped');
            }

            //left_motor func
            function leftMotorForward() {
                const data = {
                    type: "control/left_motor",
                    direction: 1,
                };
                socket.send(JSON.stringify(data));
                console.log('Drive base is moving forward');
                leftMotorStatus.textContent = 'Forward';
                updateStatusColor(leftMotorStatus, 'Forward');

            }

            function leftMotorBackward() {
                const data = {
                    type: "control/left_motor",
                    direction: -1,
                };
                socket.send(JSON.stringify(data));
                console.log('Drive base is moving backward');
                leftMotorStatus.textContent = 'Backward';
                updateStatusColor(leftMotorStatus, 'Backward');

            }

            function leftMotorStop() {
                const data = {
                    type: "control/left_motor",
                    direction: 0,
                };
                socket.send(JSON.stringify(data));
                console.log('Drive base is stopped');
                leftMotorStatus.textContent = 'Stopped';
                updateStatusColor(leftMotorStatus, 'Stopped');
            }

            //right_motor func
            function rightMotorForward() {
                const data = {
                    type: "control/right_motor",
                    direction: 1,
                };
                socket.send(JSON.stringify(data));
                console.log('Drive base is moving forward');
                rightMotorStatus.textContent = 'Forward';
                updateStatusColor(rightMotorStatus, 'Forward');

            }

            function rightMotorBackward() {
                const data = {
                    type: "control/right_motor",
                    direction: -1,
                };
                socket.send(JSON.stringify(data));
                console.log('Drive base is moving backward');
                rightMotorStatus.textContent = 'Backward';
                updateStatusColor(rightMotorStatus, 'Backward');

            }

            function rightMotorStop() {
                const data = {
                    type: "control/right_motor",
                    direction: 0,
                };
                socket.send(JSON.stringify(data));
                console.log('Drive base is stopped');
                rightMotorStatus.textContent = 'Stopped';
                updateStatusColor(rightMotorStatus, 'Stopped');

            }

            //pump func
            function turnOnPump() {
                const data = {
                    type: "control/pump",
                    direction: 1,
                };
                socket.send(JSON.stringify(data));
                console.log('Pump is ON');
                updateStatusColor(pumpStatus, 'ON');
            }

            function turnOffPump() {
                const data = {
                    type: "control/pump",
                    direction: 0,
                };
                socket.send(JSON.stringify(data));
                console.log('Pump is OFF');
                updateStatusColor(pumpStatus, 'OFF');
            }

            //led1, led2 func
            function turnOnLED1() {
                const data = {
                    type: "control/led1",
                    direction: 1,
                };
                socket.send(JSON.stringify(data));
                console.log('LED is ON');
                LED1Status.textContent = 'ON';
                updateStatusColor(LED1Status, 'ON');
            }

            function turnOffLED1() {
                const data = {
                    type: "control/led1",
                    direction: 0,
                };
                socket.send(JSON.stringify(data));
                console.log('LED is OFF');
                LED1Status.textContent = 'OFF';
                updateStatusColor(LED1Status, 'OFF');
            }

            function turnOnLED2() {
                const data = {
                    type: "control/led2",
                    direction: 1,
                };
                socket.send(JSON.stringify(data));
                console.log('LED is ON');
                LED2Status.textContent = 'ON';
                updateStatusColor(LED2Status, 'ON');
            }

            function turnOffLED2() {
                const data = {
                    type: "control/led2",
                    direction: 0,
                };
                socket.send(JSON.stringify(data));
                console.log('LED is OFF');
                LED2Status.textContent = 'OFF';
                updateStatusColor(LED2Status, 'OFF');
            }

            //both_leds
            // function turnOnBothLEDs() {
            //     const data = {
            //         type: "control/both_leds",
            //         direction: 1,
            //     };
            //     socket.send(JSON.stringify(data));
            //     console.log('LED is ON');
            // }

            // function turnOffBothLEDs() {
            //     const data = {
            //         type: "control/both_leds",
            //         direction: 0,
            //     };
            //     socket.send(JSON.stringify(data));
            //     console.log('LED is OFF');
            // }

            //read_soil func
            function readSoil() {
                const data = {
                    type: "control/read_soil",
                    direction: 1,
                }
                socket.send(JSON.stringify(data));
                console.log('Reading soil data for 30 secs');
                readSoilStatus.textContent = 'Reading';
                updateStatusColor(readSoilStatus, 'Reading');
            }
            function stopReading() {
                const data = {
                    type: "control/read_soil",
                    direction: 0,
                }
                socket.send(JSON.stringify(data));
                console.log('Stop reading soil data');
                readSoilStatus.textContent = 'Stopped';
                updateStatusColor(readSoilStatus, 'Stopped');
            }

            function useCylinderToReadSoil() {
                const data = {
                    type: "control/cylinder_to_read_soil",
                }
                socket.send(JSON.stringify(data));
                console.log('Reading soil data for 5 mins');
                readSoilStatus.textContent = 'Reading';
                updateStatusColor(readSoilStatus, 'Reading');
            }

            function updateStatusColor(element, status) {
                // first, clear all status classes
                element.classList.remove('status-forward', 'status-backward', 'status-stopped');

                // now, apply the appropriate class based on the status
                if (status === 'Forward' || status === 'Retracting' || status === 'ON' || status === 'Reading' || status === 'Up') {
                    element.classList.add('status-forward');
                } else if (status === 'Backward' || status === 'Extending' || status === 'Down') {
                    element.classList.add('status-backward');
                } else if (status === 'Stopped' || status === 'OFF') {
                    element.classList.add('status-stopped');
                }
                // you can expand this for other statuses if needed
            }

            document.getElementById('bothServosUpButton').addEventListener('click', bothServosUp);
            document.getElementById('bothServosDownButton').addEventListener('click', bothServosDown);
            document.getElementById('leftServoUpButton').addEventListener('click', leftServoUp);
            document.getElementById('leftServoDownButton').addEventListener('click', leftServoDown);
            document.getElementById('rightServoUpButton').addEventListener('click', rightServoUp);
            document.getElementById('rightServoDownButton').addEventListener('click', rightServoDown);

            document.getElementById('leftMotorForwardButton').addEventListener('click', leftMotorForward);
            document.getElementById('leftMotorBackwardButton').addEventListener('click', leftMotorBackward);
            document.getElementById('leftMotorStopButton').addEventListener('click', leftMotorStop);
            document.getElementById('rightMotorForwardButton').addEventListener('click', rightMotorForward);
            document.getElementById('rightMotorBackwardButton').addEventListener('click', rightMotorBackward);
            document.getElementById('rightMotorStopButton').addEventListener('click', rightMotorStop);

            document.getElementById('turnOnLED1Button').addEventListener('click', turnOnLED1);
            document.getElementById('turnOffLED1Button').addEventListener('click', turnOffLED1);
            document.getElementById('turnOnLED2Button').addEventListener('click', turnOnLED2);
            document.getElementById('turnOffLED2Button').addEventListener('click', turnOffLED2);

            document.getElementById('readSoilButton').addEventListener('click', readSoil);
            document.getElementById('useCylinderToReadSoilButton').addEventListener('click', useCylinderToReadSoil);
            document.getElementById('stopReadingButton').addEventListener('click', stopReading);

        });
    </script>
</body>

</html>